<h2>List Restaurants</h2>
<%= link_to "<button class='btn btn-success mb-4'>New</button>".html_safe, new_admin_store_path %>
<table style="width:100%">
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  <% @stores.map do |store| %>
    <tr>
      <td><%= store.id %></td>
      <td><%= store.name %></td>
      <td><%= store.address %></td>
      <td>
        <%= link_to "<button class='btn btn-dark'>View</button>".html_safe, admin_store_path(store) %>
        <%= link_to "<button class='btn btn-info'>Edit</button>".html_safe, edit_admin_store_path(store) %>
        <%= link_to "<button class='btn btn-danger'>Delete</button>".html_safe, admin_store_path(store), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>

<style type="text/css">
  table, th, td {
  border: 1px solid;
  }
</style>
