<p> ID: <%= @store.id %></p>
<p> Name: <%= @store.name %></p>
<p> Address: <%= @store.address %></p>
<p class="img-store"> Image: <img src="<%= @store.image.url %>" /></p>
<p> Phone: <%= @store.phone %></p>
<p> Description: <%= @store.description %></p>
<p> Open time: <%= @store.open_time %></p>
